/**
 * 本文件是项目重置 aidesign 样式
**/

// 路由变化动画
.cust-router-change-enter-active, .cust-router-change-leave-active {
  transition: all .3s;
}

// 动画进入
.cust-router-change-enter, .cust-router-change-leave-active{
  opacity: 0;
}
.cust-router-change-enter {
  transform: translate3d(30px, 0, 0);
}
.cust-router-change-leave-active {
  transform: translate3d(-30px, 0, 0);
}
// 路由动画结束

// 重置弹窗
.modal-header {
  background-color: #fff;
  border-bottom: 1px solid #E9E9E9;
  .modal-title {
    color: #333;
  }
}
.modal.show {
  .modal-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
  }
}

// input 重置各类 focus 状态颜色
// .input:focus,
// .select__selection:focus,
// .select__input:focus {
//   box-shadow: inset 0 0 0 2px rgba(60, 163, 88, .3);
//   border-color: #3ca358;
// }
// .input:hover {
//   border-color: #3ca358;
// }